help/
__pycache__/
.vscode/
~FMUOutput/
Resources/
*.exe
*.fmu
*.mof
*.c
*.asv
*.mat
*.code-workspace
*.obj
*.manifest
*dsin.txt
dslog.txt
dsfinal.txt
failure
status
success
	
/mult*.csv
/*.txt
/modelDescription.xml
/request
/status
/Scripts/failure
/Scripts/status
/Scripts/success
/stop
dbg
dsmodel.c
