help/
__pycache__/
.vscode/
~FMUOutput/
Resources/
*.exe
*.fmu
*.mof
*.c
*.asv
*.mat
*.code-workspace
*.obj
*.manifest
*dsin.txt
dslog.txt
dsfinal.txt
failure
status
success
.DS_Store
buildlog.txt
errorLog.txt
debug/
/mult*.csv
/*.txt
/modelDescription.xml
/request
/status
/Scripts/failure
/Scripts/status
/Scripts/success
/stop
dbg
dsmodel.c
*.png
*.h
/Scripts/Dymola/stop
/ADAN_0main_SystemicTree_Baseline_OlufsenTriSeg_0base_fmu_black_box.mo
/ADAN_0main_SystemicTree_Exercise_OlufsenTriseg_0Exercise_fmu_black_box.mo
/ADAN_0main_SystemicTree_Tilt_OlufsenTriSeg_0tiltable_fmu_black_box.mo
/ADAN_0main_SystemicTree_Valsalva_OlufsenTriSeg_0valsalva_fmu_black_box.mo
