# dsout.out
# status
# 	success
# failure
# request
# test
# stop
# *.
# debug.txt
# dsout.out
# *.mat
# *.log
# *.mo
# *.txt
# *.c
# paramOut.txt
# GenOpt.log
# !OutputListingMain.txt

*
!*/
schedules/
.*/
~*/
FMU/
debug/

!*.txt
*debug.txt
paramOut.txt
buildlog.txt
dsin.txt
*dsin.txt
dsout.txt
dslog.txt
dsfinal.txt
_*
*log.txt
*Log.txt
OutputListingAll.txt
!*.py
!*.md
!*.ini